*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(golden.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    list-style: none;
}

li{
    margin-right: 5rem;
}

a{
    font-weight: bolder;
    font-size: 20px;
    color: brown;
    text-decoration: none;
}

.phone{
   width: 25px;
   height: 25px;
   padding: 10px;
}

.no{
    color: white;
    padding: 10px;
}

.phon{
   display: flex;
   padding: 2rem;
   opacity: 0.8;
   font-weight: bold;
   font-size: 20px;
}

.time{
    font-weight: bolder;
    font-size: 20px;
    opacity: 0.9;
    color: white;
    display: flex;
    padding: 10px;
    margin-left: 8rem;
}

#enquiry{
    background-color: rgba(128, 128, 128, 0.11); 
}

.address{
    color: white;
    opacity: 0.9;
    margin-left: 8rem;
    padding: 10px;
}